.card-reset-app {
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -40%);
  top: 50%;
}

.card-form-reset {
  border-radius: 5px;
  background-color: #fff;
  width: 400px;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
  margin-bottom: 50px;
}
.card-title-reset {
  text-align: left;
  margin-bottom: 20px;
}
.card-title-reset h1 {
  font-weight: bold;
  margin: 0;
}
.card-title-reset p {
  margin-top: 5px;
}
.card-input-reset {
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.input-form-reset {
  padding: 8px 14px;
  border-radius: 4px;
  width: 100%;
  border: 2px solid #0000009e;
  font-size: 18px;
}
.card-forget-password-reset {
  display: flow-root;
}
.card-forget-password-reset p {
  float: right;
  margin-top: 0px;
}
