.card-detail-app {
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -25%);
  top: 50%;
}
.select-detail {
  padding: 8px 14px;
  border-radius: 4px;
  width: 100%;
  border: 2px solid #0000009e;
  font-size: 18px;
  height: 45px;
  background: #ffffff;
}
.card-form-detail {
  border-radius: 5px;
  background-color: #fff;
  width: 400px;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
  margin-bottom: 50px;
}

.card-title-detail {
  text-align: left;
  margin-bottom: 20px;
}
.card-title-detail h1 {
  font-weight: bold;
  margin: 0;
}
.card-title-detail p {
  margin-top: 5px;
}
.card-input-detail {
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.card-input-detail-disable {
  display: none;
}
.input-form-detail {
  padding: 8px 14px;
  border-radius: 4px;
  width: 100%;
  border: 2px solid #0000009e;
  font-size: 18px;
}
