.text-area-group {
  position: relative;
  margin-top: 20px;
}
.text-area-group p {
  margin: 5;
}
.text-area {
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #333333;
  border-radius: 4px;
  font-weight: 600;
  outline: none;
}
