.transition {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.modal {
  height: 0px;
  width: 0px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  z-index: 4;
  font-size: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-active {
  height: 300px;
  width: 350px;
  font-size: 20px;
}
.modal-title {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.modal-title h3 {
  color: #000000;
}
.modal-content {
  padding: 20px 30px;
}
.modal-content p {
  margin: 0;
  color: #0000009a;
}
.modal-content h4 {
  margin: 0;
}
.modal-footer {
  position: fixed;
  padding: 0px 30px;
  bottom: 0;
  left: 0;
  right: 0;
}
.card-grid-modal {
  margin-right: 40px;
}
.discard-button-modal h4 {
  margin: 0;
}
.normal-color {
  color: #333333;
}
.danger-color {
  color: rgb(160, 52, 52);
}
.sucess-color {
  color: rgb(52, 77, 160);
}
.button-modal {
  padding: 0;
  font-weight: 600;
  cursor: pointer;
}
.save-button-modal h4 {
  margin: 0;
}
